In [1]:
a,b,c=input("enter the numbers").split()
d=a+b+c
print(d)

enter the numbers 2 3 50

2350

In [6]:
 temp=float(input("enter the temperature"))
if temp<=0:
    print("water can be freezed now")
else:
    print("water cannot be freezed now")

enter the temperature -3

water can be freezed now

In [9]:
a=int(input("enter the value of a "))
b=int(input("enter the value of b "))
c=a+b
print(c)

enter the value of a  2
enter the value of b  3

5

In [12]:
a=int(input("enter the value of a "))
b=int(input("enter the value of b "))

if a>b:
    print(a)
    print( "a is greater")
else:
    print(b)
    print("b is greater")

enter the value of a  2
enter the value of b  3

3
b is greater

In [17]:
a=int(input("enter the value of a "))
b=int(input("enter the value of b "))
c=int(input("enter the value of c "))
if a>b:
    if a>c:
        print(a)
        print( "a is greater")
    else :
        print(c)
        print("c is greater")

else:
    if b>c:
        print(b)
        print("b is greater")
    else:
        print(c)
        print("c is greater")

enter the value of a  5
enter the value of b  8
enter the value of c  12

12
c is greater

In [18]:
a=int(input("enter the value of a "))
b=int(input("enter the value of b "))
c=int(input("enter the value of c "))
if a<b:
    if a<c:
        print(a)
        print( "a is smallest")
    else :
        print(c)
        print("c is smallest")

else:
    if b<c:
        print(b)
        print("b is smallest")
    else:
        print(c)
        print("c is smallest")

enter the value of a  4
enter the value of b  9
enter the value of c  1

1
c is smallest

In [30]:
marks=int(input("enter the marks "))
if marks>=90 and marks<=100:
    print("grade:A+")
elif marks>100:
    print("invalid marks entered")
elif marks>=80:
    print("grade:A")
elif marks>=70:
    print("grade:B+")
elif marks>=60:
    print("grade:B")
elif marks>=50:
    print("grade:C")
elif marks>=40:
    print("grade:D")
elif marks>=30:
    print("grade:E")
elif marks<0:
    print("invalid marks entered")
else:
    print("fail")

enter the marks  88

grade:A

In [35]:
days=int(input("enter the day no."))

match days:
    case 1: print("sunday")
    case 2: print("monday")
    case 3: print("tuesday")
    case 4: print("wednesday")
    case 5: print("thursday")
    case 6: print("friday")
    case 7: print("satueday")
    case _ if days==10:
        print("there are no 10 days in a week")
    case _: 
        print(days)
        print("invalid ")

enter the day no. 10

there are no 10 days in a week

In [37]:
for y in range(0,10):
    print (y)

0
1
2
3
4
5
6
7
8
9

In [40]:
x=0
while x<10:
   print(x)
   x=x+1

0
1
2
3
4
5
6
7
8
9

In [48]:
x=0
y=0
for x in range(0,5):
    for y in range(0,x+1):
        print(" * ",end="")
    print()

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [53]:
for x in range(0,5):
    for y in range(0,x+1):
        print(" ", x, " " ,end="")
    print()

  0
  1    1
  2    2    2
  3    3    3    3
  4    4    4    4    4

In [55]:
for x in range(0,5):
    for y in range(0,x+1):
        print(" ", y," ",end="")
    print()

  0
  0    1
  0    1    2
  0    1    2    3
  0    1    2    3    4

In [58]:
for y in range(1,10,1):
    print(y)

1
2
3
4
5
6
7
8
9

In [59]:
for y in range(10,1,-1):
    print(y)

10
9
8
7
6
5
4
3
2

In [62]:
x=0
while x<10:
   x=x+1
for y in range(1,10,1):
   print(y," ",x)

1   10
2   10
3   10
4   10
5   10
6   10
7   10
8   10
9   10

In [67]:
for x in range(6,0,-1):
    for y in range(0,x-1):
        print(" * ",end="")
    print()

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [66]:
for x in range(0,5):
    for y in range(0,x+1):
        print(" * ",end="")
    print()

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [72]:
term=int(input("enter the number of terms:"))
n1=0
n2=2
count=0
if term<0:
    print("invalid input; enter only positive integer")
elif term==1:
    print("the series is:",n1)
else:
    print("fib series:")
    while count<term:
        print(n1)
        n=n1+n2
        n1=n2
        n2=n
        count=count+1

enter the number of terms: 3

fib series:
0
2
2
2
2
4

In [80]:
#fibonacci serier
n = int(input("enter the number of terms:"))
num1 = 0
num2 = 1
next = num2  
count = 1
 
while count <= n:
    print(next)
    count += 1
    num1, num2 = num2, next
    next = num1 + num2
print()

enter the number of terms: 3

1
2
3

In [86]:
#fibonacci serier 2
n = int(input("enter the number of terms:"))
a = 0
b = 1
print(a)
print(b)

for x in range(0,n-2):
    c=a+b
    print(c)
    a=b
    b=c

enter the number of terms: 5

0
1
1
2
3

In [89]:
#functions

def add(x,y):
    z=x+y
    print("sum=",z)
    #return z

a=int(input())
b=int(input())
add(a,b)
#print("sum=",add(a,b))

 4
 5

sum= 9