In [5]:
class vehicle:
    def __init__(self,e,r,p,c):
        self.engine=e
        self.reg_plate=r
        self.price=p
        self.color=c

class car(vehicle):
    def __init__(self,e,r,p,c,t,n,s):
        self.type=t
        self.passenger=n
        self.speed=s
        super().__init__(e,r,p,c)

class truck(vehicle):
    def __init__(self,e,r,p,c,a,l):
        self.axle=a
        self.load=l
        super().__init__(e,r,p,c)

c=car("1000cc",118,5000000,"black","EV",5,200)
t=truck("1500cc",117,5500000,"blue",4,"200KG")

print("car contains:-")
print("engine:",c.engine,"\nreg plate:",c.reg_plate,"\nprice:",c.price,"\ncolor:",c.color,"\ntype:",c.type,"\nno. of passengers:",c.passenger,"\nspeed:",c.speed)
print("\ntruck contains:-")
print("engine:",t.engine,"\nreg plate:",t.reg_plate,"\nprice:",t.price,"\ncolor:",t.color,"\naxle:",t.axle,"\nload:",t.load)

car contains:-
engine: 1000cc
reg plate: 118
price: 5000000
color: black
type: EV
no. of passengers: 5
speed: 200

truck contains:-
engine: 1500cc
reg plate: 117
price: 5500000
color: blue
axle: 4
load: 200KG

In [10]:
class employee:
    def __init__(self,i,n,s):
        self.id=i
        self.name=n
        self.salary=s

class staff(employee):
    def __init__(self,i,n,s,t,a):
        self.type=t
        self.area=a
        super().__init__(i,n,s)

class developer(employee):
    def __init__(self,i,n,s,m,tq,ex):
        self.module=m
        self.tech=tq
        self.exp=ex
        super().__init__(i,n,s)

class manager(employee):
    def __init__(self,i,n,s,p,c):
        self.project=p
        self.client=c
        super().__init__(i,n,s)

s=staff(18,"adi",20000,"full-time","MG nagar")
d=developer(17,"rak",25000,5,"AI","5yrs")
m=manager(17,"vin",30000,"python","nik")

print("staff have:")
print("ID:",s.id,"\nname:",s.name,"\nsalary",s.salary,"\ntype:",s.type,"\narea:",s.area)

staff have:
ID: 18
name: adi
salary 20000
type: full-time
area: MG nagar

In [ ]:
#patter programs

In [17]:
#1

n = 5

for i in range(1, n+1):
    for j in range(1, i + 1):
        print(j, end=" ")

    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [18]:
#2

n = 5

for i in range(1, n+1):
    for j in range(1, i + 1):
        print(i, end=" ")

    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [19]:
#3

n = 5

for i in range(1, n+1):
    for j in range(1, i + 1):
        print("*", end=" ")

    print("")

*
* *
* * *
* * * *
* * * * *

In [24]:
#4

n = 5

for k in range(n+1, 0, -1):

    for m in range(1, k):

        print(m, end=' ')

    print("\r")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [25]:
#5

n = 5

for k in range(n+1, 0, -1):

    for m in range(1, k):

        print("*", end=' ')

    print("\r")

* * * * *
* * * *
* * *
* *
*

In [29]:
#6

n = 5

for k in range(n+1, 0, -1):

    for m in range(1, k):

        print(k, end=' ')

    print("\r")

6 6 6 6 6
5 5 5 5
4 4 4
3 3
2

In [ ]:
class Solution:
    def reverse(self, x: int) -> int:
        if x>=0:
            rev=int(str(x)[::-1])
        else:
            rev=-(int(str(abs(x))[::-1]))
        if(rev<=-2**31 or rev>=2**31-1):
            return 0
        else:
            return rev

ob=solution(123)